<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Login System</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <style>
    body{
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
    }
  </style>
  <body >
    <div class="container d-flex flex-direction-column justify-content-center align-items-center">
      {% block content %}
      
       {% endblock %}
    </div>

    <script>
      const selector = (element) => document.querySelector(element)
      const profileImage = selector("#profile-image")
      const imagePreview = selector("#imagePreview")
      const uploadBtn = selector(".upload-btn")

      profileImage.addEventListener("change", (e) => {
        e.preventDefault()
        const image = profileImage.files[0]
        imagePreview.src = URL.createObjectURL(image)
        uploadBtn.classList.toggle("d-none")
      })

    </script>
  </body>
</html>
