{% extends "main.html" %} {% block content %}

<style>
  .profile{
    width: 300px;
    max-width: 100%;
  }

  .profile p{
    font-size: 0.7em !important;
    margin: 0.5em 0;
  }

  .image_container{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px solid rgb(219, 205, 205);
    margin: 0.8em auto;
    position: relative;
    cursor: pointer;
  }

  #profileImage{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
  }

  .image_container i {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #888;
  }

  .upload-btn .btn{
    background: #eee;
  }

</style>
<div class="profile text-center">

  <div class="mb-4">
    <a href="{% url 'update_profile' pk=user.id %}"
      class="shadow-sm p-2">Edit profile</a
    >
    <a href="{% url 'modal' %}" class="shadow-sm p-2">Delete my account</a>
  </div>

  <div class="lead text-capitalize">
    <p class="text-capitalize">{{user.firstname}} {{user.lastname}}</p>
      <form action="{% url 'update_profile_image' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex flex-column">
          <label for="id_avatar" class="image_container">
            <img src="{{user.avatar.url}}" id="profileImage">
            <i class="fa fa-camera shadow" id="camera_icon"></i>
          </label>
          <div class="d-none">{{form}}</div>
          <div>
            <button class="btn upload-btn text-success d-none">upload</button>
          </div>
        </div>
        <!-- <div class="d-flex flex-column">
          <label for="id_avatar" class="image">
            <img src="{{user.avatar.url}}" id="imagePreview">
            <i class="fa fa-camera shadow" id="id_avatar"></i>
          </label>
          <div class="d-none">{{form}}</div>
          <div>
            <button class="btn upload-btn d-none">upload</button>
          </div>
        </div> -->
      </form>
      <div>
        <p>Welcome </p>
        <b>{{user.firstname}} {{user.lastname}}</b>
      </div>
    <div>
      <p class="text-lowercase">{{user.email}}</p>
    </div>
    <p>{{user.phone}}</p>
  </div>

  <div class="mt-5">
    <a href="{% url 'logout' %}" class="border px-5 py-2 shadow-sm">Logout</a>
  </div>
</div>

{% endblock %}
